.matero-header {
  position: relative;
  z-index: 200;

  .matero-toolbar {
    padding: 0 8px;
    background: #12263a;
  }
}
.flex-fill {
  flex: 1;
}
.mat-toolbar .search {
  margin-top: 20px;
  font-size: 20px;
  transform: translateY(-0.59375em) scale(0.75) !important;
  font-weight: bolder;
  width: 40%;
}
.mat-mdc-form-field-subscript-wrapper {
  display: none;
}
.respuesta-div {
  background-color: white;
  padding: 10px;
  border-radius: 5px;
}

