<mat-toolbar class="matero-toolbar">
  <!-- Elementos a la izquierda -->
  <div>
    <button mat-icon-button *ngIf="showToggle" (click)="toggleSidenav.emit()">
      <mat-icon class="text-white">menu</mat-icon>
    </button>

    <app-branding *ngIf="showBranding"></app-branding>
  </div>

  <!-- Espacio flexible para alinear elementos a la derecha -->
  <span class="flex-fill"></span>
  <mat-form-field class="search" (click)="showSearchDialog()" *ngIf="showSearchInput">
    <input matInput placeholder="Search...">
  </mat-form-field>

  <span class="flex-fill"></span>

  <!-- Elementos a la derecha -->
  <div>
    <app-user></app-user>
  </div>
</mat-toolbar>
