<mat-toolbar class="matero-toolbar">
  <!-- Elementos a la izquierda -->
  <div>
    <button mat-icon-button *ngIf="showToggle" (click)="toggleSidenav.emit()">
      <mat-icon class="text-white">menu</mat-icon>
    </button>
    <!-- Button to go the dasbhaords page-->
    <button mat-icon-button *ngIf="showToggle" (click)="goToHome()">
      <mat-icon class="text-white">home</mat-icon>
    </button>
    <button mat-icon-button *ngIf="showToggle" (click)="goToDashboard()">
      <mat-icon class="text-white">dashboard</mat-icon>
    </button>
    <app-branding *ngIf="showBranding && !isAgency"></app-branding>
  </div>

  <!-- Espacio flexible para alinear elementos a la derecha -->
  <span class="flex-fill"></span>
  <mat-form-field class="search" (click)="showSearchDialog()" *ngIf="showSearchInput && !isAgency">
    <input matInput placeholder="Search...">
  </mat-form-field>
  <mat-form-field class="search" *ngIf="showSearchInput && !isAgency">
    <input matInput placeholder="Use AI..." [(ngModel)]="searchText" (keyup.enter)="submitSearchOpenAI()">
  </mat-form-field>
  <app-branding *ngIf="showBranding && isAgency"></app-branding>

  <span class="flex-fill"></span>

  <!-- Elementos a la derecha -->
  <div>
    <app-user></app-user>
  </div>
</mat-toolbar>
