<div class="container">
  <div class="row">
    <!--    <div class="col-12" [ngClass]="isEdit? 'col-lg-8':''">-->
    <div class="col-12 p-0">
      <mat-card class="w-100 p-3">
        <mat-card-title>
          <div class="d-flex">
            <button mat-raised-button class="fw-bolder bg-secondary text-white" (click)="back()">
              <mat-icon>keyboard_arrow_left</mat-icon>
              Back
            </button>
          </div>
          <label class="fw-bolder fs-3 row justify-content-center">{{ title }}</label>
          <hr>
          <div class="d-flex justify-content-center">
            <mat-chip-listbox aria-label="Vehicle status selection" [disabled]="getStatus == VEHICLE_STATUS.IN_USE">
              <mat-chip-option [selected]="getStatus == VEHICLE_STATUS.OPERATIONAL" (click)="setStatus(VEHICLE_STATUS.OPERATIONAL)">Operational
              </mat-chip-option>
              <mat-chip-option color="accent" [selected]="getStatus == VEHICLE_STATUS.IN_USE" (click)="setStatus(VEHICLE_STATUS.IN_USE)" disabled>In use
              </mat-chip-option>
              <mat-chip-option color="warn" [selected]="getStatus == VEHICLE_STATUS.OUT_OF_SERVICE" (click)="setStatus(VEHICLE_STATUS.OUT_OF_SERVICE)">Out of service
              </mat-chip-option>
            </mat-chip-listbox>
          </div>
        </mat-card-title>
        <mat-card-content>
          <form [formGroup]="vehicleForm">
            <div class="row justify-content-center">
              <div class="col-12 row col-lg-8 mb-2 pt-3 " [ngClass]="isEdit? '':''">
                <hr>
                <div class="d-flex p-0 mb-2">
                  <label class="fs-5 fw-medium" style="margin-right: 10px">Picture:</label>
                  <button type="button" mat-raised-button (click)="fileInput.click()" color="accent" [disabled]="vehicleForm.disabled">
                    <mat-icon>image</mat-icon>
                    Choose File
                  </button>
                  <input hidden #fileInput type="file" id="file" (change)="onFileSelected($event)">
                </div>
                <img *ngIf="hasImg" class="w-100 mb-4" [src]="vehicleForm.get('img')?.value" alt="vehicle picture">
                <div *ngIf="!hasImg" class="mb-4 d-flex bg-warning-subtle border border-warning rounded text-light-emphasis justify-content-center p-3">
                  No image uploaded
                </div>
                <hr>
                <div class="col-12 mb-2 ">
                  <label class="fs-6 fw-medium">Driver Name:</label>
                  <mat-form-field class="d-flex">
                    <input matInput type="text" formControlName="driverName">
                  </mat-form-field>
                </div>
                <div class="col-12 mb-2 col-md-6">
                  <label class="fs-6 fw-medium">Brand:</label>
                  <mat-form-field class="d-flex">
                    <input matInput type="text" formControlName="brand">
                  </mat-form-field>
                </div>
                <div class="col-12 mb-2 col-md-6">
                  <label class="fs-6 fw-medium">Model:</label>
                  <mat-form-field class="d-flex">
                    <input matInput type="text" formControlName="model">
                  </mat-form-field>
                </div>
                <div class="col-12 mb-2 col-md-6">
                  <label class="fs-6 fw-medium">Plate:</label>
                  <mat-form-field class="d-flex">
                    <input matInput type="text" formControlName="plate">
                  </mat-form-field>
                </div>
                <div class="col-12 mb-2 col-md-6">
                  <label class="fs-6 fw-medium">Capacity:</label>
                  <mat-form-field class="d-flex">
                    <input matInput type="number" formControlName="capacity">
                  </mat-form-field>
                </div>
                <div class="col-12 mb-2 col-md-6">
                  <label class="fs-6 fw-medium">Weight:</label>
                  <mat-form-field class="d-flex">
                    <input matInput type="number" formControlName="weight">
                  </mat-form-field>
                </div>
              </div>
              <div class="d-flex justify-items-center mt-3">
                <button mat-raised-button color="accent" class="col-12 col-md-4 offset-md-4" [disabled]="vehicleForm.invalid || vehicleForm.disabled" (click)="saveVehicle()">
                  <mat-icon>save</mat-icon>
                  Save
                </button>
              </div>
            </div>
          </form>
        </mat-card-content>
      </mat-card>
    </div>
  </div>
</div>
