.custom-image {
    width: 100px;
    height: 200px;
}

.example-card {
    max-width: 400px;
    padding: 10px;
}
.custom-card-actions {
    display: flex;
    justify-content: flex-end;
    padding: 0 18px 18px;
}

.destinations-columns {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 10px; /* Espacio entre columnas */
}

.destination-column {
    width: calc(50% - 10px);
    margin-bottom: 10px;
}

.destinations-list {
    list-style-type: disc;
    margin-left: 20px;
    padding-left: 20px;
}

.destination-info {
    display: flex;
    align-items: center;
}

.stars-info {
    margin-left: 10px;
}

mat-icon {
    vertical-align: middle;
}

.description-and-stars {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.scrollable-column {
    overflow-y: auto;
    max-height: 500px;
}

.scrollable-column .mat-card {
    margin-bottom: 15px;
}

.col-md-3 {
    padding: 15px;
    background-color: #f5f5f5;
}

