<div mat-dialog-title class="d-flex py-3 align-items-center">
  <label class="fs-5 fw-bold" style="margin-left: 10px">Choose a vehicle</label>
</div>
<mat-dialog-content class="mat-typography">
  <label class="d-flex fs-6" *ngIf="previousVehicle && availableVehicles.length > 0">
    These following vehicles have minimum capacity of <b class="mx-1">{{previousVehicle.capacity}}</b> and weight limit of <b class="mx-1">{{previousVehicle.weight}}</b> kg.
  </label>
  <label class="d-flex fs-6" *ngIf="previousVehicle && availableVehicles.length === 0">
    There are not vehicles that have minimum capacity of <b class="mx-1">{{previousVehicle.capacity}}</b> and weight limit of <b class="mx-1">{{previousVehicle.weight}}</b> kg.
  </label>
  <div *ngFor="let item of availableVehicles" class="d-flex">
    <mat-radio-group style="width: 100%;"
      [(ngModel)]="vehicle">
      <mat-radio-button class="d-flex align-items-center" [value]="item" >
        <div class="d-flex align-items-center border border-2 rounded px-3 py-2 my-2">
          <img [src]="item.img" alt="vehicle" class="me-3" style="width: 200px">
          <div>
            <div class="fw-bold d-flex">{{item.driverName}}</div>
            <div class="text-muted">Brand: {{item.brand}}</div>
            <div class="text-muted">Model: {{item.model}}</div>
            <div class="text-muted">Plate: {{item.plate}}</div>
            <div class="text-muted">Capacity: {{item.capacity}}</div>
            <div class="text-muted">Max-weight: {{item.weight}} kg</div>
          </div>
        </div>
      </mat-radio-button>
    </mat-radio-group>
  </div>
</mat-dialog-content>
<mat-dialog-actions class="d-flex justify-content-between p-3">
  <button mat-raised-button [matDialogClose]="false">Cancel</button>
  <button mat-raised-button color="accent" [matDialogClose]="vehicle" [disabled]="!vehicle"
          *ngIf="availableVehicles.length > 0">
    <mat-icon>add</mat-icon>
    Add
  </button>
</mat-dialog-actions>
