<div class="d-flex justify-content-end">
  <button mat-raised-button color="primary" (click)="addTourPackage()">
    <mat-icon aria-label="add-tour-package">add</mat-icon>
    add tour package
  </button>
</div>

<div class="px-lg-5">
  <div class="fw-bold fs-5 d-flex" style="padding-left: 10px;">Filter by:</div>
  <mat-checkbox [(ngModel)]="showVisiblePackage" (click)="getVisiblePackage()">Visible</mat-checkbox>
  <mat-checkbox [(ngModel)]="showHiddenPackage" (click)="getHiddenPackage()">Hidden</mat-checkbox>
  <app-package-grid [filteredPackages]="tourPackages" [isAgency]="true"></app-package-grid>
</div>
